html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a{
    background-color: transparent;
    color:inherit;
    text-decoration:inherit;
}

*,:after,:before{
    box-sizing:border-box;
    border:0 solid #e2e8f0
}

svg{
    vertical-align: middle;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}